<footer class="bg-body text-center mt-5 " >
    <div class="container-fluid p-4" style="background-color: rgb(240, 242, 245)">
      <section class="">
        <div class="row">
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div data-mdb-ripple-init
              class="bg-image hover-overlay shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img src="https://kyliecosmetics.com/cdn/shop/files/KJC_SKLG_24_LoverGirl_Stylized_800x.jpg?v=1716222979" class="w-100"  />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div data-mdb-ripple-init
              class="bg-image hover-overlay shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img src="https://kyliecosmetics.com/cdn/shop/files/KJC_PBS_24_Make_Him_Blush_Stylized_800x.jpg?v=1713303329" class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div data-mdb-ripple-init
              class="bg-image hover-overlay shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img src="https://kyliecosmetics.com/cdn/shop/files/KJC_SSPRAY_23_Stylized_V1_bf57f52a-0bc3-481e-ba5c-7a5a0ceab9ea.jpg?crop=center&height=600&v=1705447360&width=600" class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div data-mdb-ripple-init
              class="bg-image hover-overlay shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img src="https://kyliecosmetics.com/cdn/shop/files/KJC_LLPRP_23_Coconut2.0_Stylized_800x.jpg?v=1701816853" class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div data-mdb-ripple-init
              class="bg-image hover-overlay shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img src="https://kyliecosmetics.com/cdn/shop/files/KJC_WLM_23_12ml_Stylized_800x.jpg?v=1712005407" class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div data-mdb-ripple-init
              class="bg-image hover-overlay shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img src="https://kyliecosmetics.com/cdn/shop/files/StylizedConcealerBrush_800x.jpg?v=1695766718" class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>

    <h2 class="text-center mt-5" style="color: rgb(22, 30, 30);">Enter your personal experience about Wishlist</h2> 

    <div class="container text-center  p-3" style="background-color: aliceblue;  ">
      <div class="col-md-6">
      </div>

      <!-- <img style="width: 400px;height: 200px;" src="https://vanitywagon.in/cdn/shop/files/1800X500_1.jpg?v=1708082536" alt=""> -->
      <form (ngSubmit)="onSubmit()">
        <div class="align-items-center justify-content-center d-flex mt-4">
          <input name="email" [(ngModel)]="email" type="email" class="form-control w-50 shadow" id="exampleFormControlInput1" placeholder="Email" required>
        </div>

        <div class="mb-3 mt-3 align-items-center justify-content-center d-flex">
          <textarea name="suggestion" [(ngModel)]="suggestion" class="form-control w-50 shadow" id="exampleFormControlTextarea1" rows="3" placeholder="Suggestions" required></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Sent</button>
        <p class="mt-2">FOR ANY HELP, YOU MAY CALL US AT
        <h6><i class="fa-solid fa-phone fa-beat"></i> 1800-267-4444</h6>  
          <p>(Monday to Saturday, 8AM to 10PM and Sunday, 10AM to 7PM)</p> 
      </form>
    </div>


          <div class="">
           <!-- Footer -->
           <footer class="text-center" style="background-color: rgb(240, 209, 240);">
            <!-- Grid container -->
            <div class="container pt-4">
              <!-- Section: Social media -->
              <section class="mb-4">
                <!-- Facebook -->
                <a
                  data-mdb-ripple-init
                  class="btn btn-link btn-floating btn-lg text-body m-1 btn-primary"
                  href="#!"
                  role="button"
                  data-mdb-ripple-color="dark"
                  ><i class="fab fa-facebook-f"></i
                ></a>
          
                <!-- Twitter -->
                <a
                  data-mdb-ripple-init
                  class="btn btn-link btn-floating btn-lg text-body m-1 btn-primary"
                  href="#!"
                  role="button"
                  data-mdb-ripple-color="primary"
                  ><i class="fab fa-twitter"></i
                ></a>
          
                <!-- Google -->
                <a
                  data-mdb-ripple-init
                  class="btn btn-link btn-floating btn-lg text-body m-1 btn-primary"
                  href="#!"
                  role="button"
                  data-mdb-ripple-color="primary"
                  ><i class="fab fa-google"></i
                ></a>
          
                <!-- Instagram -->
                <a
                  data-mdb-ripple-init
                  class="btn btn-link btn-floating btn-lg text-body m-1 btn-primary"
                  href="#!"
                  role="button"
                  data-mdb-ripple-color="primary"
                  ><i class="fab fa-instagram"></i
                ></a>
          
                <!-- Linkedin -->
                <a
                  data-mdb-ripple-init
                  class="btn btn-link btn-floating btn-lg text-body m-1 btn-primary"
                  href="#!"
                  role="button"
                  data-mdb-ripple-color="primary"
                  ><i class="fab fa-linkedin "></i
                ></a>
                <!-- Github -->
                <a
                  data-mdb-ripple-init
                  class="btn btn-link btn-floating btn-lg text-body m-1 btn-primary"
                  href="#!"
                  role="button"
                  data-mdb-ripple-color="Primary"
                  ><i class="fab fa-github"></i
                ></a>
              </section>
              <!-- Section: Social media -->
            </div>
            <!-- Grid container -->
          
           <!-- Footer -->
<footer class="text-center text-lg-start bg-body-dark text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
   
   
  </section>
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>wishlist
          </h6>
          <p>
            Timelessly inspired, endlessly enhanced- yara Cosmetics is an Indian makeup brand that's redefining beauty with its range of high quality, cruelty-free and FDA-approved innovative range of products. yara believes in empowering women to own and enjoy their bold, ambitious persona and let their glam do the talking.
          </p>
        </div>
        
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
             Face
          </p>
          <p>
            Eye
          </p>
          <p>
            Skin
          </p>
          <p>
            Lips
          </p>
          
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> India, NY 10012, </p>
          <p>
            <i class="fas fa-envelope me-3"></i>
           wishlist.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 02 234 567 88</p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            <h6>Download</h6>
             <img src="https://www.reneecosmetics.in/cdn/shop/files/download-on-the-app-store-apple-logo-svgrepo-com_1.svg?v=1703049493" alt="">
            <button style="background-color:rgb(122, 59, 123); " class="btn mt-2 ">Subscribe</button>

          </h6>
          
        </div>
      </div>
    </div>
  </section>
  

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright:
    <a class="text-reset fw-bold" href="">wishlist</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
          </footer>
          </div>
  </footer>